
*.exe
*.o
*.exe
*.o
*.depend
*.layout
*.cbp
TDALista/bin/Debug/Orga.exe
TDALista/obj/Debug/main.o
TDALista/Orga.cbp
TDALista/Orga.layout
TDALista/partida.h
TDALista/Orga.depend
*.cbp
*.depend
*.o
*.depend
*.layout
*.exe
TDALista/Orga.depend
TDALista/Orga.depend
TDALista/Orga.layout
TDALista/testerArbol.c
TDALista/bin/Debug/Orga.exe
TDALista/obj/Debug/main.o
TDALista/Orga.cbp
TDALista/Orga.cbp
TDALista/Orga.depend
TDALista/Orga.layout
